---
title: "Zepto.js: the aerogel-weight jQuery-compatible JavaScript library"
layout: default
description: >
  The aerogel-weight jQuery-compatible JavaScript library
version: 1.0
github_url: https://github.com/madrobby/zepto
---

<div id="menu_icon">≣</div>

<aside id="sidebar" class="interface">

  <a class="toc_title" href="#">
    Zepto.js <span class="version">({{ page.version }})</span>
  </a>

  <ul class=toc_section>
    <li><a href="#download">Download</a></li>
    <li><a href="#platforms">Plataformas de destino</a></li>
    <li><a href="#changelog">Change Log</a></li>
    <li><a href="#thanks">Agradecimentos</a></li>
  </ul>

  <hr>

  <a class=toc_title href="#core">Core</a>
  {% assign posts = site.categories.core %}
  {% include methods_sidebar.html %}
  
  <a class=toc_title href="#detect">Detecção</a>
  {% assign posts = site.categories.detect %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#event">Eventos</a>
  {% assign posts = site.categories.event %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#ajax">Ajax</a>
  {% assign posts = site.categories.ajax %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#form">Formulário</a>
  {% assign posts = site.categories.form %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#fx">Efeitos</a>
  {% assign posts = site.categories.fx %}
  {% include methods_sidebar.html %}

  <a class=toc_title href="#touch">Toques</a>
  {% assign posts = site.categories.touch %}
  {% include methods_sidebar.html %}
</aside>

<div class="container">

  <header>
  <h1><img src=logo.png alt=Zepto.js></h1>

  <p>
    <b>Zepto</b> é uma <b>biblioteca JavaScript
    minimalista para navegadores modernos</b> com uma API em grande parte
    <b>compatível com jQuery</b>.

    <em>Se você usa jQuery, você já sabe como usar Zepto.</em>
  </p>

  <div id=tour>
    <img src=data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=>
  </div>

  <p>
    Enquanto 100% de cobertura jQuery não é um objetivo do projeto,
    <b>as APIs fornecidas correspondem às suas contrapartes do jQuery</b>.
    O objetivo é ter uma biblioteca modular ~ 5-10k que <b>faz o download e executa rápido</b>,
    com uma <b>API familiar e versátil</b>, para que você possa se ​​<b>concentrar em obter o material feito</b>.
  </p>

  <p>
    Zepto é um biblioteca de código aberto e foi lançada sob a
    <a href="{{ page.github_url }}/blob/master/MIT-LICENSE">licença MIT</a>.
  </p>

  <p>
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://zeptojs.com/" data-text="Zepto.js, a jQuery-compatible micro-library for modern browsers" data-count="horizontal" data-via="zeptojs" data-related="thomasfuchs">Tweet</a>
  </p>

  </header>

  <h3 id=download>Download Zepto</h3>

  <p>
    A build padrão inclui os seguintes módulos:
    <em>Core, Ajax, Event, Form, Effects, Polyfill, and Detect</em>.
  </p>

  <p class=important>
    Existem mais módulos, uma lista de todos os módulos
    está disponível no <a href="{{ page.github_url }}#readme">README</a>.
  </p>

  <ul class=downloads>
    <li>
      <a href="zepto.js" class="download">zepto.js v{{ page.version }} (para desenvolvimento)</a>
      – <i>54.6k descompactado e com muitos comentários</i>
    </li>
    <li>
      <a href="zepto.min.js" class="download">zepto.min.js v{{ page.version }} (para produção)</a>
      – <i>9.7k quando está comprimida</i>
    </li>
  </ul>
  
  <p>
    Ou <b><a href="{{ page.github_url }}">pegue a última versão no Github</a></b>.
  </p>
  
  <ul class=downloads>
    <li>
      <iframe src="http://ghbtns.com/github-btn.html?user=madrobby&repo=zepto&type=watch&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
      <iframe src="http://ghbtns.com/github-btn.html?user=madrobby&repo=zepto&type=fork&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
    </li>
  </ul>

  <p>
    Inclua o Zepto com uma tag script perto do fim da sua página:
  </p>

{% highlight html %}
...
<script src=zepto.min.js></script>
</body>
</html>
{% endhighlight %}

  <p class=compat>
    Zepto só irá definir o <code>$</code> global a si mesmo se
    ainda não está definido. Não existe um método <code>Zepto.noConflict</code>.
  </p>

  <p>
    <b>Se você precisa dá suporte para o Internet Explorer,
    você pode utilizar o jQuery como fall back.</b>
    Note que os comentários condicionais não são mais suportados a partir de IE 10,
    por isso recomendamos a seguinte abordagem <code>document.write</code> a seguir:
  </p>

{% highlight html %}
<script>
document.write('<script src=' +
('__proto__' in {} ? 'zepto' : 'jquery') +
'.js><\/script>')
</script>
{% endhighlight %}

  <h3 id=platforms>Plataformas alvo</h3>

  <h4>Navegadores Desktop</h4>
  <ul>
    <li>Safari 5+ (Mac, Win)</li>
    <li>Chrome 5+ (Win, Mac, Linux, Chrome OS)</li>
    <li>Mozilla Firefox 4+ (Win, Mac, Linux)</li>
    <li>Opera 10+ (Win, Mac, Linux)</li>
  </ul>

  <h4>Navegadores Mobile</h4>
  <ul>
    <li>iOS 4+ Safari</li>
    <li>Chrome para Android</li>
    <li>Chrome para iOS</li>
    <li>Navegador do Android 2.2+</li>
    <li>Navegador do webOS 1.4.5+</li>
    <li>Navegador do BlackBerry Tablet OS 1.0.7+</li>
    <li>Amazon Silk 1.0+</li>
    <li>Firefox for Android</li>
    <li>Navegador do Firefox OS</li>
    <li>Praticamente todos os navegadores baseados no WebKit</li>
  </ul>

  <p>
    <em>Note que alguns recursos opcionais do Zepto visam
    especificamente navegadores móveis, como o objetivo inicial do
    projeto era fornecer uma alternativa mais enxuta especificamente
    para jQuery para a web móvel.</em>
  </p>

  <p>
    Zepto é uma boa opção para criar extensões do navegador (para o Safari e Chrome) e
    para desenvolver views baseadas em HTML em frameworks para aplicativos nativos, como o
    <a href="http://phonegap.com/">PhoneGap</a>.
  <p>

  <p>
    Em suma, Zepto é esperado que funcionem em todos os navegadores modernos
    exceto para Internet Explorer.
  </p>

  <h3>Construindo manualmente o Zepto</h3>

  <p>
    <code>zepto.js</code> e <code>zepto.min.js</code> fornecidas acima podem ser
    usadas como está. No entanto, para melhor eficiência e personalização, execute o
    sistema de construção que vem com o código fonte do Zepto.
    Ele permite que você selecione os módulos, execute testes,
    use <a href="https://github.com/mishoo/UglifyJS">UglifyJS</a> para
    minificar sua build personalizada, e dá-lhe uma estimativa sobre a compressão
    que é viável quando <code>zepto.min.js</code> é servido gzippado.
  </p>

  <p>
    Consulte o <a href="{{ page.github_url }}#readme">README</a>
    para instruções sobre como personalizar o Zepto, incluindo a execução
    dos testes e contribuindo patches.
  </p>

  <h3>Criando plug-ins</h3>

  <p>
    Plugins podem ser escritos adicionando métodos como propriedades de
    <a href="#$.fn"><code>$.fn</code></a>:
  </p>

{% highlight js %}
;(function($){
  $.extend($.fn, {
    foo: function(){
      // `this` refers to the current Zepto collection.
      // When possible, return the Zepto collection to allow chaining.
      return this.html('bar')
    }
  })
})(Zepto)
{% endhighlight %}

  <p>
    Para começar a desenvolver seu plug-in, dê uma olhada em
    <a href="{{ page.github_url }}/blob/master/src/zepto.js">código fonte do modulo central do Zepto's</a>,
    e não se esqueça de ler as
    <a href="{{ page.github_url }}#code-style-guidelines">diretrizes de estilo de codificação</a>.
  </p>

  <section id=documentation>

    <hr>
    <h2 id="core">Métodos principais</h2>
    {% assign posts = site.categories.core %}
    {% include methods_full.html %}
    
    <hr>
    <h2 id="detect">Métodos de detecção</h2>
    {% assign posts = site.categories.detect %}
    {% include methods_full.html %}

    <hr>
    <h2 id="event">Manipulação de eventos</h2>
    {% assign posts = site.categories.event %}
    {% include methods_full.html %}

    <hr>
    <h2 id="ajax">Requisições Ajax</h2>
    {% assign posts = site.categories.ajax %}
    {% include methods_full.html %}

    <hr>
    <h2 id="form">Métodos de formulário</h2>
    {% assign posts = site.categories.form %}
    {% include methods_full.html %}

    <hr>
    <h2 id="fx">Efeitos</h2>
    {% assign posts = site.categories.fx %}
    {% include methods_full.html %}

    <hr>
    <h2 id="touch">Toques</h2>
    {% assign posts = site.categories.touch %}
    {% include methods_full.html %}

    <hr>
    <h2 id="changelog">Change Log</h2>

    {% for change in site.categories.changelog %}
    <article class=changelog id="changelog-{{ change.title }}">
      <h3>
        {{ change.title }}
        <small>&mdash; <i>{{ change.date | date_to_string }}</i>
        {% if change.diff %}&mdash; <a href="{{ page.github_url }}/compare/{{ change.diff }}">diff</a>{% endif %}
        </small>
      </h3>
      {{ change.content }}
    </article>
    {% endfor %}

    <hr>
    <h2 id=thanks>Reconhecimentos &amp; Agradecimentos</h2>

    <p>
      Um grande <b>ogrigado</b> vai para todos os nossos
      <a href="https://github.com/madrobby/zepto/contributors">impressionantes colaboradores Zepto.js </a>.
      Que todos vocês sempre permaneçam em glória.
    </p>

    <p>
      A API Zepto é baseada na <a href="http://jquery.com/">API do núcleo do jQuery</a>, que
      está liberada sob a <a href="https://github.com/jquery/jquery/blob/master/MIT-LICENSE.txt">licença MIT</a>.
    </p>

    <p>
      Esta documentação é baseada no layout da documentação do
      <a href="https://github.com/documentcloud/backbone/">Backbone.js</a>
      que está liberada sob a
      <a href="https://github.com/documentcloud/backbone/blob/master/LICENSE">licença MIT</a>.
    </p>

    <p>
      <small>
        &copy; 2010-2013 Thomas Fuchs, <a href="http://letsfreckle.com">Freckle Online Time Tracking</a><br>
        Zepto e esta documentação está liberada sob os termos da <a href="{{ page.github_url }}/blob/master/MIT-LICENSE">licença MIT</a>.
      </small>
    </p>

  </section>

</div>

<script src="zepto.min.js"></script>
<script src="touch.js"></script>

<script>
  var reflowTimeout;
  
  function injectScript(src) {
    var s = document.createElement('script')
    s.src = src; s.async = true
    $('script').first().before(s)
  }

  // Reflow all elements on the page. <david@14islands.com>
  function reflowFixedPositions() {
    var docStyle = document.documentElement.style
    docStyle.paddingRight = '1px'
    setTimeout(function(){ docStyle.paddingRight = '' }, 0)
  }

  $('.signature code').html(function(i, html){
    return html
      .replace(/\[([^\[]+)\]$/mg, '<span class=version>$1+</span>')
      .replace(/\)([^()]+)$/mg, ') <span class=return>$1</span>')
  })

  $(document).on('mouseover', 'span.version', function(){
    var el = $(this)
    if (!el.attr('title'))
      el.attr('title', "This feature is only available in Zepto " + el.text())
  })

  if ($.os.ios || /\bMac.+\bSafari\b/.test(navigator.userAgent))
    $(document.body).addClass('emoji-enabled')
    
  // don't follow links when the sidebar is tap-enabled
  $('#sidebar').on('click', 'a', function(e){
    return !$('body').hasClass('navigating')
  })

  $('#sidebar').on('tap', 'a', function(e){
    location.href = this.href;

    closeMenu()
    setTimeout(function(){
      // fixes sidebar becoming unscrollable in Safari 6
      reflowFixedPositions()
    }, 10)    
    return false
  })
  
  $(window).on('scroll', function(){
    if(reflowTimeout) clearTimeout(reflowTimeout)
    reflowTimeout = setTimeout(reflowFixedPositions, 200)
  })
  
  function closeMenu(){
    if ($('body').hasClass('navigating')) {
      $('body').removeClass('navigating')
      setTimeout(function(){
        $('#sidebar').css('display','none')
      }, 350)
    }
  }
  
  // show/hide menu on mobile
  $('#menu_icon').on('tap', function(){
    if ($('body').hasClass('navigating')) {
      closeMenu()
    } else {
      $('#sidebar').css('display','block')
      $('#sidebar')[0].offsetLeft // force render
      $('body').addClass('navigating')
    }
    return false
  })

  // change the title of the page so bookmarks have a better default
  if ($.os.ios || $.os.android)
    document.title = 'Zepto Docs'

  // For retina screens, use a hi-res version of the tour image.
  // We're swapping this out on-demand (not an ideal solution)
  // to avoid rendering bugs on iOS.
  $('#tour > img')[0].src =
    ('devicePixelRatio' in window && devicePixelRatio > 1) ?
    'intro2x.jpg' : 'intro.jpg'

  var tour = $('#tour'), tourSlides = tour.children(),
      tourSlide = 0, tourSlidesTotal = 5

  function advanceTourSlide(delta){
    tourSlide = (tourSlide + delta + tourSlidesTotal) % tourSlidesTotal
    var offset = tourSlide * tour.width()
    tourSlides.animate({ translateX: -offset + 'px' })
  }

  tour.on('click swipeLeft', function(){ advanceTourSlide(+1) })
      .on('swipeRight', function(){ advanceTourSlide(-1) })

  if (/^localhost|\.(dev|local)$/.test(location.hostname) && $.os.iphone && !/Simulator/.test(navigator.userAgent))
    injectScript('livereload.js')

  if (/\.com$/.test(location.hostname))
    injectScript('http://platform.twitter.com/widgets.js')
</script>

<script>
  var _gauges = _gauges || [];
  if (/\.com$/.test(location.hostname)) (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f46b5c5f5a1f573c300004c');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
